{% extends "sightseeing.html" %}

{% block content1 %}
<a class="url" href="#ED" style="position:absolute; font-size:20px">1. Екатерининский дворец</a>
<a class="url" href="#EP" style="position:absolute; top:310px; font-size:20px">2. Екатерининский парк</a>
<a class="url" href="#ZC" style="position:absolute; top:350px; font-size:20px">3. Знаменская церковь</a>
<a class="url" href="#PER" style="position:absolute; top:390px; font-size:20px">4. Павильон «Эрмитаж»</a>
<a class="url" href="#PERK" style="position:absolute; top:430px; font-size:20px">5. Павильон «Эрмитажная кухня»</a>
<a class="url" href="#PG" style="position:absolute; top:470px; font-size:20px">6. Павильон «Грот»</a>
<a class="url" href="#AD" style="position:absolute; top:510px; font-size:20px">7. Адмиралтейство</a>
<a class="url" href="#ZNO" style="position:absolute; top:550px; font-size:20px">8. «Зал на острову» и Чесменская колонна</a>
<a class="url" href="#TB" style="position:absolute; top:590px; font-size:20px">9. Турецкая баня</a>
<a class="url" href="#MPM" style="position:absolute; top:630px; font-size:20px">10. Мраморный или Палладиев мост</a>
{% endblock %}